*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
.App {
  font-size: 1.4rem;
  text-align: center;
}

.list{
  list-style: none;
  width: 75%;
  margin: 0 auto;
}
.list__item{
    display: flex;
    align-items: center;
    font-weight: 900;
    padding: .5rem;
    height: 5rem;
    width: 100%;
    background-color: aqua;
    margin-bottom: .5rem;
}
.item__name{
  flex: 1;
}
.item__reward{
  flex:1;
}
